<div class="row">
    <div class="col-xs-6">
        <% if @todo_percentages %>
            <h3>やること</h3>
            <%= column_chart @todo_percentages, min: 0, max: 100, colors: ["#0000ff4d"] %>
        <% end %>
    </div>
    <div class="col-xs-6">
        <% if @not_todo_percentages %>
            <h3>自粛すること</h3>
            <%= column_chart @not_todo_percentages, min: 0, max: 100, colors: ["#ff00005c"] %>
        <% end %>
    </div>
</div>
<div class="row">
    <div class="col-xs-7 col-xs-offset-5">
        <p class="btn btn-danger" id="top_secret_btn">非公開ページ</p>
        <%= link_to "パスワードを設定する", secret_password_form_path %>
    </div>
</div>