<h3>現在のポイント：<%= current_user.point %>pt</h3>
<% if @meal_records %>
    <% @meal_records.each do |mr| %>
        <table class="table table-bordered">
            <tr>
                <th>
                    日付
                </th>
                <th>
                    食べたもの
                </th>
                <th>
                    合計カロリー（kcal）
                </th>
            </tr>
            <tr>
                <td>
                    <%= mr.created_at.strftime('%Y/%m/%d') %>
                </td>
                <td>
                    <%= mr.meal_content %>
                </td>
                <td>
                    <%= mr.total_calorie %>
                </td>
            </tr>
        </table>
    <% end %>
<% end %>