<div class="row">
    <% if logged_in? %>
    <div class="col-xs-12">
        <h1 class="text-center" id="proverb"
            style="display: none; font-family: monospace; font-size: 40px; margin: 200px 0;">
            <%= @famous_quote %>
        </h1>
    </div>
    <% end %>
</div>