<div class="row">
    <div class="col-xs-12">
        <% if @chart_data %>
            <h3>体重</h3>
            <%= line_chart @chart_data, min: 45, max: 55, colors: ["#0000ff4d"], height: "400px" %>
        <% end %>
        <div class="col-xs-2 col-xs-offset-5">
            <%= link_to "体重を記録する", new_secret_path, class: "btn btn-primary float-center" %>
        </div>
    </div>
</div>