体重を表示するページ
<div class="row">
    <div class="col-xs-6">
        <% if @chart_data %>
            <h3>体重</h3>
            <%= line_chart @chart_data, min: 40, max: 60, colors: ["#0000ff4d"] %>
        <% end %>
    </div>
</div>
<%= link_to "体重を記録する", new_secret_path %>